---
layout: page
# The Home page layout
---

{% include lang.html %}

{% assign pinned = site.posts | where: "pin", "true" %}
{% assign default = site.posts | where_exp: "item", "item.pin != true and item.hidden != true" %}
{% assign posts = "" | split: "" %}

<h1> Hello, Stranger </h1>

<!-- About -->
<div id="home-about">
  <h2 id="-about">🙋🏻‍♀️ About</h2>
  <li>Name: {{ site.data.authors.author.bio.name }} ( {{ site.data.authors.author.bio.nick }})</li>
  <li>Location: {{ site.data.authors.author.bio.location }}</li>
  <li>Careers: <a href="/career/">here</a></li>
  <li>새로운 정보에 대해 흡수력이 빠르고,<br/>문제해결과정에서 성취감을 얻고 그룹활동을 좋아하는 디자이너 입니다.</li>
</div>
<!-- Major -->
{% if site.data.authors.author.Majors.size > 0 %}
<div id="home-major">
  <h2 id="-major">🖥️ Major</h2>
  {% for item in site.data.authors.author.Majors %}
  <li>{{ item.Major }}</li>
  {% endfor %}
</div>
{% endif %}

<!-- Interests -->
{% if site.data.authors.author.Interests.size > 0 %}
<div id="home-interests">
  <h2 id="-interests">🤩 Interests</h2>
  {% for item in site.data.authors.author.Interests %}
  <li>{{ item.Interest }}</li>
  {% endfor %}
</div>
{% endif %}

<!-- Contact -->
<div id="home-contact">
  <h2 id="-contact">🔗 Contact</h2>
  <li>E-mail: 📨 <a href="mailto://{{ site.data.authors.author.bio.email }}">{{ site.data.authors.author.bio.email }}</a></li>
  <li>Phone: 📱+82 010-2384-5543</li>
</div>
